<p-table [value]="currencies" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" [globalFilterFields]="['symbol', 'name']" [sortField]="'symbol'">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="symbol">Símbolo <p-sortIcon field="symbol"></p-sortIcon></th>
        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
      </tr>
      <tr>
        <th><input pInputText type="text" placeholder="Buscar Símbolo" (input)="onSearch($event, 'symbol')"></th>
        <th><input pInputText type="text" placeholder="Buscar Nome" (input)="onSearch($event, 'name')"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currency>
      <tr>
        <td>{{currency.symbol}}</td>
        <td>{{currency.name}}</td>
      </tr>
    </ng-template>
  </p-table>
  