<div class="conversion-history-container">
    <h2>Conversion History</h2>
    
    <p-table [value]="conversionHistory" class="p-datatable-customers">
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>From Currency</th>
          <th>To Currency</th>
          <th>Amount</th>
          <th>Result</th>
          <th>Rate</th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-history>
        <tr>
          <td>{{ history.date }}</td>
          <td>{{ history.time }}</td>
          <td>{{ history.from }}</td>
          <td>{{ history.to }}</td>
          <td>{{ history.amount | number: '1.2-2' }}</td>
          <td>{{ history.result | number: '1.2-2' }}</td>
          <td>{{ history.rate | number: '1.2-2' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  