<div class="app-container">
  <header>
    <nav>
      <ul class="navbar">
        <li><a routerLink="/converter">Converter Moeda</a></li>
        <li><a routerLink="/moedas">Lista de Moedas</a></li>
        <li><a routerLink="/historico">Histórico de Conversões</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>Desenvolvido por Thiago Meira</p>
    <a href="https://github.com/thiaagomeira" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/thiago-meira-7a5531b3/" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
  </footer>
</div>
